
/*body {
  background: #eff5ed;
  font-family: courier, serif;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}*/

.hello {
position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 25%;
}
.hello h2 {
  font-family: 'AndaleMono', monospace;
  position: relative;
  color: #AAB2BD;
  text-align: center;
  white-space: nowrap;
  font-size: 30px;
  letter-spacing: 0.0625em;
  /*width: 1065px;*/
  width: 0px;
  overflow-x: hidden;
  animation: move 4s 1s forwards steps(2);

}
/*.hello h2:after {
  display: block;
  position: absolute;
  content: '';
  width: 1065px;
  height: 2.5ex;
  left: 0;
  top: 0;
  background: black;
  animation: move 4s 1s forwards steps(3);
  border-left: 1px solid #AAB2BD;
}*/
@keyframes move {
  0% {
    width: 0px;
    // left: 0;
  }
  5% {
    width: 50px;
    // left: 5%;
  }
  10% {
    width: 100px;
    // left: 10%;
  }
  15% {
    width: 150px;
    // left: 15%;
  }
  20% {
    width: 200px;
    // left: 20%;
  }
  25% {
    width: 250px;
    // left: 25%;
  }
  30% {
    width: 300px;
    // left: 30%;
  }
  35% {
    width: 350px;
    // left: 35%;
  }
  40% {
    width: 400px;
    // left: 40%;
  }
  45% {
    width: 450px;
    // left: 45%;
  }
  50% {
    width: 500px;
    // left: 50%;
  }
  55% {
    width: 550px;
    // left: 55%;
  }
  60% {
    width: 600px;
    // left: 60%;
  }
  65% {
    width: 650px;
    // left: 65%;
  }
  70% {
    width: 700px;
    // left: 70%;
  }
  75% {
    width: 750px;
    // left: 75%;
  }
  80% {
    width: 800px;
    // left: 80%;
  }
  85% {
    width: 850px;
    // left: 85%;
  }
  90% {
    width: 900px;
    // left: 90%;
  }
  95% {
    width: 950px;
    // left: 95%;
  }
  100% {
    width: 1065px;
    // left: 100%;
  }
}

