{% extends 'base.html' %}

{% block content %}
    <img class="map" src="../static/images/background2.jpg" align="botton">
    <div class="coupang">
    	<h1 class="font-coupang" brand-color="c">c</h1>
    	<h1 class="font-coupang" brand-color="o">o</h1>
    	<h1 class="font-coupang" brand-color="u">u</h1>
    	<h1 class="font-coupang" brand-color="p">p</h1>
    	<h1 class="font-coupang" brand-color="a">a</h1>
    	<h1 class="font-coupang" brand-color="n">n</h1>
    	<h1 class="font-coupang" brand-color="g">g</h1>
    </div>

    <div class="forkit-curtain">
        <div class="close-button"></div>
        <h2>Setting</h2>
    </div>

    <a class="forkit" data-text="Setting" data-text-detached="Setting" href="https://github.com/hakimel/forkit.js">
        <img style="position: absolute; top: 0; right: 0; border: 0;" src="../static/images/setting.png">
    </a>


    <script src="../static/js/forkit.js"></script>
    <script src="../static/js/geolocation.js"></script>
{% endblock%}