<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../static/css/site.css">
    <link rel="stylesheet" href="../static/css/demo.css">
    <link rel="stylesheet" href="../static/css/forkit.css">
    <link rel="stylesheet" href="../static/css/terminalPage.css">
</head>

<body>
    <!-- <div class="container"> -->
    <img class="map" src="../static/images/background2.jpg">
    <div class="coupang">
        <h1 class="font-coupang" brand-color="c">c</h1>
        <h1 class="font-coupang" brand-color="o">o</h1>
        <h1 class="font-coupang" brand-color="u">u</h1>
        <h1 class="font-coupang" brand-color="p">p</h1>
        <h1 class="font-coupang" brand-color="a">a</h1>
        <h1 class="font-coupang" brand-color="n">n</h1>
        <h1 class="font-coupang" brand-color="g">g</h1>
    </div>
    <canvas class="canvasMap" id="myCanvas"></canvas>
    <!-- <div class="forkit-curtain">
            <div class="close-button"></div>
            <h2>Setting</h2>
        </div> -->
    <div class="forkit-curtain">
        <div class="close-button"></div>
        <form class="four-oh-four-form">
            <input type="text" class="404-input">
        </form>
        <div class="terminal">
            <p class="prompt">The page you requested cannot be found right meow. Try typing 'kittens'.</p>
            <p class="prompt output new-output"></p>
        </div>
    </div>
    <a class="forkit" data-text="Setting" data-text-detached="Setting" href="https://github.com/hakimel/forkit.js">
        <img style="position: absolute; top: 0; right: 0; border: 0;" src="../static/images/setting.png">
    </a>
    <!-- </div> -->
</body>
<script src="../static/js/jquery-1.12.3.js"></script>
<script src="../static/js/forkit.js"></script>
<script src="../static/js/geolocation.js"></script>
<script src="../static/js/drawMap.js"></script>
<script src="../static/js/terminalPage.js"></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.2/velocity.min.js'></script>

</html>
