<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="../static/css/site.css">
    <link rel="stylesheet" href="../static/css/demo.css">
    <link rel="stylesheet" href="../static/css/forkit.css">
<!--     <link rel="stylesheet" href="../static/css/terminalPage.css"> -->
    <link rel="stylesheet" href="../static/css/showInfo.css">
    <style type="text/css">
            /* Set a size for our map container, the Google Map will take up 100% of this container */
            html, body, #wrapper{
                height: 100%;
                width: 100%;
            }
            #map {
                height: 100%;
                width: 100%;
            }
            #wrapper { position: absolute; min-height: 100%; }
            #over_map { position: absolute; top: 10px; left: 10px; z-index: 99; }
    </style>
    <script type="text/javascript">
    var $SCRIPT_ROOT = {{
            request.script_root | tojson | safe
        }};
    </script>
    <script src="../static/js/jquery-1.12.3.js"></script>
    <script src="../static/js/knockout.js"></script>
    <script src="../static/js/flotr2.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
    <script>
function myFunction() {
    document.getElementById("demo").style.color = "red";
}
</script>
</head>

<body>
    <div id="map">
        </div>
    <div class="container">
        <div id="over_map">
        <div class="coupang">
            <h1 class="font-coupang" brand-color="c">c</h1>
            <h1 class="font-coupang" brand-color="o">o</h1>
            <h1 class="font-coupang" brand-color="u">u</h1>
            <h1 class="font-coupang" brand-color="p">p</h1>
            <h1 class="font-coupang" brand-color="a">a</h1>
            <h1 class="font-coupang" brand-color="n">n</h1>
            <h1 class="font-coupang" brand-color="g">g</h1>
        </div>
        <canvas class="canvasMap" id="myCanvas"></canvas>
        <div class="forkit-curtain">
            <div class="close-button"></div>
            <div class="hello" data-bind="foreach: customerInfo">
                <h2 data-bind="text: '>' + ' ' + 'Customer : '  + name + ' ' + 'in city: ' + city  + ' ' + 'bought: ' + unit + category +'.'"></h2>
            </div>
        </div>
        <a class="forkit" data-text="Setting" data-text-detached="Setting" href="https://github.com/hakimel/forkit.js">
            <img style="position: absolute; top: 0; right: 0; border: 0;" src="../static/images/setting.png">
        </a>
        <div class="buttonTest">
            <p>
                <span id="dx" hidden="hidden"></span>
                <span id="dy" hidden="hidden"></span>
                <span id="name" hidden="hidden">Monica Huang</span>
                <span id="city" hidden="hidden">ShangHai</span>
                <span id="unit" hidden="hidden">Personal Care</span>
                <span id="category" hidden="hidden">Oral Care</span>
            </p>
            <a href=# id="calculate" data-bind="click: addCustomer" hidden="hidden">generate</a>

        </div>

        <div class="buttonTest">
            <p>
                <span id="top1" hidden="hidden">?</span>
                <span id="prob1" hidden="hidden">?</span>
                <span id="top2" hidden="hidden">?</span>
                <span id="prob2" hidden="hidden">?</span>
                <span id="top3" hidden="hidden">?</span>
                <span id="prob3" hidden="hidden">?</span>
            </p>
        </div>
            </div>
        <div class="modelCurtain" id="chart">hkghg
        </div>
    </div>

</body>
<script src="../static/js/forkit.js"></script>
<script src="../static/js/geolocation.js"></script>
<script src="../static/js/drawMap.js"></script>
<script src="../static/js/map2.js"></script>


</html>
